{% extends "base.html" %}
{% block content %}
<h2>Dodaj Delovni Nalog</h2>
<form method="POST">
  <label for="naslovDN">Naslov delovnega naloga:</label>
  <input type="text" id="naslovDN" name="naslovDN" required>

  <label for="projekt_id">Projekt:</label>
  <select id="projekt_id" name="projekt_id" required>
    <option value="" disabled selected>-- izberi projekt --</option>
    {% for projekt in projekti %}
      <option value="{{ projekt.idProjekta }}">{{ projekt.naziv_projekta }}</option>
    {% endfor %}
  </select>

  <button type="submit" class="btn btn-success">Shrani</button>
  <a href="{{ url_for('index') }}" class="btn btn-secondary">Prekliči</a>
</form>
{% endblock %}
